{% extends "base.html" %}

{% block title %}test design app{% endblock %}

{% block page_content %}

<h1>Basic info</h1>
<form>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Cooking skills</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>-</option>
          <option>basic</option>
          <option>intermediate</option>
          <option>advance</option>
        </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Age range</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>-</option>
        <option>18-24</option>
        <option>25-34</option>
        <option>35-44</option>
        <option>45-54</option>
        <option>55-64</option>
        <option>65-74</option>
        <option>75 or older</option>
      </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Cooking frequency</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>-</option>
            <option>1-5 times per week</option>
          <option>6-12 times per week</option>
          <option>13 or more times per week</option>
        </select>
      </div>
</form>

<form action="/instructions/" method="post">
  <button name="continue" type="submit">continue</button>
</form>

{% endblock %}